@model Frontend.Models.UserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Site Metas -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="~/images/favicon.png" type="">

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
<section class="vh-100" style="background-color: darkgrey;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Login</h3>
                        <form asp-action="Login">
                            @Html.HiddenFor(Model => Model.ReturnUrl)
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-outline mb-4">
                                <label asp-for="UserName" class="control-label">Nombre de Usuario</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                                <label asp-for="Password" class="control-label">Contraseña</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                        </div>


                        <button class="btn btn-warning btn-lg btn-block" type="submit">Login</button>
                        <hr class="my-4">
                        </form>
                        <button class="btn btn-warning btn-lg btn-block" asp-area="" asp-controller="Account" asp-action="Register">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
