@model Frontend.Models.ProductoViewModel

@{
    ViewData["Title"] = "Crear";
}

<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Crear un producto nuevo:
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <input asp-for="Descripcion" class="form-control" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoriaId" class="control-label"></label>
                            @Html.DropDownListFor(model => model.CategoriaId, new SelectList(Model.Categorium, "CategoriaId", "Nombre"), "Seleccionar Categoria")
                            <span asp-validation-for="CategoriaId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Precio" class="control-label"></label>
                            <input asp-for="Precio" class="form-control" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>